In [ ]:
import pandas as pd
import os
df=pd.read_csv('./data/csv/weather_data.csv')

Import pandas library 

Read in Weather csv file

In [ ]:
df.head()
print(df.columns)

Index(['time', 'temperature_2m', 'relative_humidity_2m', 'precipitation',
       'surface_pressure'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17520 entries, 0 to 17519
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   time                  17520 non-null  object
 1   temperature_2m        17520 non-null  float64
 2   relative_humidity_2m  17520 non-null  int64
 3   precipitation         17520 non-null  float64
 4   surface_pressure      17520 non-null  float64
dtypes: float64(3), int64(1), object(1)
memory usage: 684.5+ KB

In [ ]:
df["time"]=pd.to_datetime(df["time"])
df.set_index("time",inplace=True)

print(df.head)

<bound method NDFrame.head of                      temperature_2m  ...  surface_pressure
time                                 ...
2022-01-01 00:00:00            18.0  ...             906.6
2022-01-01 01:00:00            18.2  ...             907.4
2022-01-01 02:00:00            18.0  ...             907.2
2022-01-01 03:00:00            17.9  ...             906.5
2022-01-01 04:00:00            17.8  ...             905.9
...                             ...  ...               ...
2023-12-31 19:00:00            26.5  ...             908.8
2023-12-31 20:00:00            25.9  ...             908.4
2023-12-31 21:00:00            25.2  ...             908.5
2023-12-31 22:00:00            24.0  ...             909.0
2023-12-31 23:00:00            22.7  ...             909.8

[17520 rows x 4 columns]>

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 17520 entries, 2022-01-01 00:00:00 to 2023-12-31 23:00:00
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   temperature_2m        17520 non-null  float64
 1   relative_humidity_2m  17520 non-null  int64
 2   precipitation         17520 non-null  float64
 3   surface_pressure      17520 non-null  float64
dtypes: float64(3), int64(1)
memory usage: 684.4 KB

In [ ]:

empty_rows_count=df['temperature_2m'].isna().sum()
print("temp: ", empty_rows_count)

empty_rows_count=df['relative_humidity_2m'].isna().sum()
print("humidity: ", empty_rows_count)

empty_rows_count=df['precipitation'].isna().sum()
print("precipitation: ", empty_rows_count)

empty_rows_count=df['surface_pressure'].isna().sum()
print("surface pressure: ", empty_rows_count)

temp:  0
humidity:  0
precipitation:  0
surface pressure:  0

Checking for empty rows for each column

In [ ]:
monthly_resampled_df = df.resample('M')['temperature_2m','relative_humidity_2m','precipitation','surface_pressure'].median()
yearly_resampled_df= df.resample('Y')['temperature_2m','relative_humidity_2m','precipitation','surface_pressure'].median()
print(yearly_resampled_df)

            temperature_2m  ...  surface_pressure
time                        ...
2022-12-31            18.6  ...             911.4
2023-12-31            20.7  ...             913.4

[2 rows x 4 columns]

In [ ]:
csv_path = os.path.join('./data/csv', 'monthly_weather_data.csv')
monthly_resampled_df.to_csv(csv_path, index=True)

csv_path = os.path.join('./data/csv', 'yearly_weather_data.csv')
yearly_resampled_df.to_csv(csv_path, index=True)

In [ ]:
df2=pd.read_csv('./data/csv/br_final.csv')

filtered_df = df2[df2['subdivision'] == 'Minas Gerais']
filtered_df = df2[df2['year'] >= 2022]

print(filtered_df.head())

    country     subdivision  ... trees_hect_nonbear  avg_unemp_perc
105  Brazil    Minas Gerais  ...             3191.0           7.150
106  Brazil  Espirito Santo  ...             3191.0           7.925
107  Brazil  Espirito Santo  ...             3191.0           7.925
108  Brazil       Sao Paulo  ...             3191.0           9.075
109  Brazil          Parana  ...             3191.0           5.825

[5 rows x 12 columns]

In [ ]:
print(filtered_df['year'])

105    2022
106    2022
107    2022
108    2022
109    2022
110    2023
111    2023
112    2023
113    2023
114    2023
Name: year, dtype: int64

In [ ]:
filtered_df['time'] = pd.to_datetime(filtered_df['year'].astype(str) + '-12-31')
filtered_df.set_index('time', inplace=True)
filtered_df = filtered_df.resample('Y').last()
print(filtered_df.head())

           country subdivision  ... trees_hect_nonbear  avg_unemp_perc
time                            ...
2022-12-31  Brazil      Parana  ...             3191.0           5.825
2023-12-31  Brazil      Parana  ...             3179.0             NaN

[2 rows x 12 columns]

In [ ]:
merged_df = pd.merge(yearly_resampled_df, filtered_df, on='time', how='outer') 
print(merged_df)

            temperature_2m  ...  avg_unemp_perc
time                        ...
2022-12-31            18.6  ...           5.825
2023-12-31            20.7  ...             NaN

[2 rows x 16 columns]

In [ ]:
csv_path = os.path.join('./data/csv', 'merged_data.csv')
merged_df.to_csv(csv_path, index=True)