In [ ]:
import pandas as pd

df=pd.read_csv('./data/csv/weather_data.csv')

Import pandas library 

Read in Weather csv file

In [ ]:
df.head()

               time  temperature_2m  ...  precipitation  surface_pressure
0  2022-01-01T00:00            18.0  ...            0.0             906.6
1  2022-01-01T01:00            18.2  ...            0.1             907.4
2  2022-01-01T02:00            18.0  ...            0.1             907.2
3  2022-01-01T03:00            17.9  ...            0.3             906.5
4  2022-01-01T04:00            17.8  ...            1.0             905.9

[5 rows x 5 columns]

In [ ]:
empty_rows_count=df["time"].isna().sum()
print("time: ", empty_rows_count)

empty_rows_count=df["temperature_2m"].isna().sum()
print("temp: ", empty_rows_count)

empty_rows_count=df["relative_humidity_2m"].isna().sum()
print("humidity: ", empty_rows_count)

empty_rows_count=df["precipitation"].isna().sum()
print("precipitation: ", empty_rows_count)

empty_rows_count=df["surface_pressure"].isna().sum()
print("surface pressure: ", empty_rows_count)

time:  0
temp:  0
humidity:  0
precipitation:  0
surface pressure:  0

Checking for empty rows for each column

In [ ]:
df['time'] = pd.to_datetime(df['time'])
df.set_index('time', inplace=True)

In [ ]:
monthly_resampled_df = df.resample('M').median()

print(monthly_resampled_df)

            temperature_2m  ...  surface_pressure
time                        ...
2022-01-31           19.10  ...            908.70
2022-02-28           19.10  ...            909.20
2022-03-31           19.80  ...            910.10
2022-04-30           18.45  ...            911.30
2022-05-31           14.80  ...            912.40
2022-06-30           15.40  ...            913.10
2022-07-31           15.85  ...            914.40
2022-08-31           16.70  ...            914.00
2022-09-30           18.60  ...            912.30
2022-10-31           19.80  ...            910.70
2022-11-30           18.80  ...            910.80
2022-12-31           20.40  ...            910.50
2023-01-31           20.50  ...            911.80
2023-02-28           21.80  ...            912.60
2023-03-31           21.65  ...            913.40
2023-04-30           19.70  ...            912.80
2023-05-31           17.30  ...            914.80
2023-06-30           15.80  ...            916.10
2023-07-31           16.70  ...            916.50
2023-08-31           18.80  ...            915.30
2023-09-30           23.00  ...            914.25
2023-10-31           22.60  ...            912.20
2023-11-30           23.90  ...            911.50
2023-12-31           23.30  ...            911.80

[24 rows x 4 columns]